<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - Enki Huzurculuk</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/site.css"  type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Poiret+One|Quicksand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

    <script>
        // Mesaj gelince alttaki çalışıyor
        /*var socket = io('http://localhost:80');
        socket.on('connect', function () {
            socket.emit("channelfixer","red");
            socket.on('message', function (msg) {

                //$('#right').prepend('<div class="alert alert-info">'+xuname+' Says :'+msg+'</div>');
                $('#ChatBackground').prepend('<div class="MsjBackDiv"><div class="pull-left Clear Time2">22:30</div><div class="GelenMsj MaxWidth">'+msg+'</div></div>');

            });
            //socket.on('disconnect', function () { });
        });

        // Mesaj Giderken alttaki çalışıyor
        $(document).ready(function(){

            socket.emit("register");

            $("#SendBtn").click(function(){
                MsjText = $("#MsjTextVal").val();
                socket.send(MsjText);
                //socket.emit("channelfixer","red");
                console.log(MsjText);
            });
        });*/
    </script>
</head>
<body>
<div class="blockDiv gizle"></div>
<nav class="navbar navbar-default header">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <a href="index">Enki</a>
        </div>
    </div>
</nav>

<div class="User-About">
    <span class="glyphicon glyphicon-user User-About-custom"></span>
    <div id="bilgiler" class="gizle">

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>
    </div>
</div>
<div class="container govdeChat">

    <div class="row">
        <div class="col-md-12" id="ChatContainer">
            <div class="ChatBackground Right Left" id="ChatBackground">
                <div class="MsjBoxTopBlur"></div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div> <div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="force-overflow"></div>

            </div>
            <div class="MsjText">
                <div class="input-group input-group-lg input-width100 ">

                    <input id="MsjTextVal" type="text" class="form-control input-Custom MsjTextInput" placeholder="Mesajınızı yazın.." aria-describedby="sizing-addon1">
                    <span id="SendBtn" class="glyphicon glyphicon-send SendBtn"></span>
                </div>
            </div>

        </div>
    </div>

    <!--<audio id="Gelen">
        <source src="Sounds/GelenMsj.mp3" type="audio/ogg">
    </audio>
    <audio id="Giden">
        <source src="Sounds/GidenMsj.mp3" type="audio/mpeg">
    </audio>-->

</div>


<!--

<script>
        for (var i = 0; i < 10; i++)
        {
            document.getElementById("ChatBackground").innerHTML += "<div><div class='GidenMsj'>Selam</div>";
            document.getElementById("ChatBackground").innerHTML += "<div class='GelenMsj'>Selam</div>";
        };
</script>

-->





<script src="javascripts/site.js"></script>


</body>
</html>


<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAmgvU8w0l9FaaMisZbpQGnKRsmImbO3EI",
    authDomain: "enkirun.firebaseapp.com",
    databaseURL: "https://enkirun.firebaseio.com",
    projectId: "enkirun",
    storageBucket: "",
    messagingSenderId: "834599266917"
  };
  firebase.initializeApp(config);
</script>