<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - Enki Huzurculuk</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/site.css"  type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Poiret+One|Quicksand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

    <script>

        $(function(){
            
            console.log("sockete baglanacak ve register olacak");
            //var socket = io.connect('http://localhost:3000/chat');
            if(!socket) {
                var socket = io();
            }
            var username = "bariis";
            var img = "img";
            var Kanal = window.location.hash.substring(1,window.location.hash.length);

            socket.emit("register",username,img);
            socket.emit("channelfixer",Kanal); // Kanal ismi burda belirlenecek
            console.log("sockete baglandı ve register edildi");

            var message = $("#MsjTextVal").val();
            var send_message = $("#SendBtn");
            var chat_room  = $("#ChatBackground");
            var a='a',b='b';

            $("#SendBtn").click(function(){ // GİDEN MESAJ
                try{
                    if($("#MsjTextVal").val()!=""){
                        console.log("mesaj : "+$("#MsjTextVal").val());
                        //socket.emit("channelfixer","red"); // Kanal ismi yukarıda tek bir yerden belirlendiği için kapatıldı
                        socket.emit('new_message',$("#MsjTextVal").val(),socket.id);
                        window.MsgSendJS();
                        console.log("sended.");
                    }
                }
                catch(e){
                    console.log("uygulama mesaj gönderirken try blogunda hata verdi.");
                    console.log(e);
                }
            });
            
            $(document).on('keydown', function (e) { // GİDEN MESAJ
                if (e.keyCode == 13) {
                    try{
                        if($("#MsjTextVal").val()!=""){
                            //socket.emit("channelfixer","red"); // Kanal ismi yukarıda tek bir yerden belirlendiği için kapatıldı
                            console.log("mesaj : "+$("#MsjTextVal").val());
                            socket.emit('new_message',$("#MsjTextVal").val(),socket.id);
                            window.MsgSendJS();
                            console.log("sended.");
                        }
                    }
                    catch(e){
                        console.log("uygulama mesaj gönderirken try blogunda hata verdi.");
                        console.log(e);
                    }
                }
            });
            try{
                socket.on('connect', function () { // GELEN MESAJ
                    console.log("Socket id= "+socket.id);
                    socket.emit("register",username,img);
                    //socket.emit("channelfixer","red"); // Kanal ismi yukarıda tek bir yerden belirlendiği için kapatıldı
                    console.log("Kanal red olarak tanımlandı");
                    socket.on("new_message", function(msg,socketid,uname,imgs) { // buradaki problem çok büyük ihtimalle gelen mesajı dinlememesi
                        if(socketid!=socket.id){
                        console.log("Mesaj geldi : "+msg);             // client consolda lenght hatası var onu çöz
                        $("#ChatBackground").append('<div class="MsjBackDiv"><small class="pull-left Clear Time2"></small><div class="GelenMsj MaxWidth">'+msg+'</div></div>');
                        window.SaatiGetir();
                        window.updateScrollGelenMsg();
                    }
                    });
                });
            }
            catch(e){
                console.log(e);
            }
        });

    </script>
</head>
<body>
<div class="blockDiv gizle"></div>
<nav class="navbar navbar-default header">
    <div class="container-fluid ">
        <div class="navbar-header ">
            <a href="index">Enki</a>
        </div>
    </div>
</nav>

<div class="User-About">
    <span class="glyphicon glyphicon-user User-About-custom"></span>
    <div id="bilgiler" class="gizle">

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <h4>Kullanıcı Adı : </h4>
            </div>
            <div class="col-md-6 col-xs-6 col-lg-6 User-Info">
                <b>Bariisarslans</b>
            </div>
        </div>
    </div>
</div>
<div class="container govdeChat">

    <div class="row">
        <div class="col-md-12" id="ChatContainer">
            <div onscroll="window.schrll()" class="ChatBackground Right Left" id="ChatBackground">
                <div class="MsjBoxTopBlur"></div>
                <!--
                    <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div> <div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div> <div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayat.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp,      etmeniz için tasarlanmış bir sosyal paylaşım platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'> platformudur.</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-right Clear Time">22:30</div><div class='GidenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Burda sizinle   .      .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devam etmeniz için tasarlanmış bir  paylaşım .  .</div>
                </div>
                <div class="MsjBackDiv">
                    <div class="pull-left Clear Time2">22:30</div><div class='GelenMsj MaxWidth'>Enki, siz tüm dertlerinizden arınıp, huzurlu bir şekilde hayatınıza devv</div>
                </div>
                -->
                <div class="force-overflow"></div>

            </div>
            <div class="MsjText">
                <div id="MsjBoxContainer" class="input-group input-group-lg input-width100 ">

                    <input id="MsjTextVal" type="text" class="form-control input-Custom MsjTextInput" placeholder="Mesajınızı yazın.." aria-describedby="sizing-addon1">
                    <span id="SendBtn" class="glyphicon glyphicon-send SendBtn"></span>
                </div>
            </div>

        </div>
    </div>

    <!--<audio id="Gelen">
        <source src="Sounds/GelenMsj.mp3" type="audio/ogg">
    </audio>
    <audio id="Giden">
        <source src="Sounds/GidenMsj.mp3" type="audio/mpeg">
    </audio>-->

</div>


<!--

<script>
        for (var i = 0; i < 10; i++)
        {
            document.getElementById("ChatBackground").innerHTML += "<div><div class='GidenMsj'>Selam</div>";
            document.getElementById("ChatBackground").innerHTML += "<div class='GelenMsj'>Selam</div>";
        };
</script>

-->





<script src="javascripts/site.js"></script>


</body>
</html>
